@{
    ViewBag.Title = "Home Page";
}

<my-app>Loading...</my-app>

@if(TempData["index"] !=null)
{
 //   var index = TempData["index"].ToString();
     // var index = TempData.Peek("index").ToString();
 //  TempData.Keep("index");
  //  <h1>@index</h1>
}